In [1]:
import numpy as np
import os
import math
import pickle
import torch
pathFolder = "../module_2/wine_quality/"
os.makedirs(pathFolder,exist_ok=True)
xTrainName = "xTrain1.pkl"
yTrainName = "yTrain_onehot.pkl"

with open(pathFolder+xTrainName,'rb') as f1:
    X = pickle.load(f1)

with open(pathFolder+yTrainName,'rb') as f2:
    y = pickle.load(f2)

In [2]:
X

array([[-0.50442478, -0.20547945, -1.        , ...,  0.21259843,
        -0.7245509 , -0.69230769],
       [-0.43362832,  0.04109589, -1.        , ..., -0.27559055,
        -0.58083832, -0.56923077],
       [-0.43362832, -0.12328767, -0.92      , ..., -0.18110236,
        -0.61676647, -0.56923077],
       ...,
       [-0.69911504, -0.46575342, -0.74      , ...,  0.07086614,
        -0.49700599, -0.2       ],
       [-0.7699115 , -0.28082192, -0.76      , ...,  0.30708661,
        -0.54491018, -0.44615385],
       [-0.75221239, -0.73972603, -0.06      , ...,  0.02362205,
        -0.60479042, -0.2       ]])

In [12]:
y

          0      1
0      True  False
1      True  False
2      True  False
3     False   True
4      True  False
...     ...    ...
1594   True  False
1595  False   True
1596  False   True
1597   True  False
1598  False   True

[1599 rows x 2 columns]

In [14]:
# Convert True/False to 1/0
y_train_onehot_converted = y.astype(int)
y_train_onehot_converted

      0  1
0     1  0
1     1  0
2     1  0
3     0  1
4     1  0
...  .. ..
1594  1  0
1595  0  1
1596  0  1
1597  1  0
1598  0  1

[1599 rows x 2 columns]

In [16]:
# Convert True/False to 1/0
y_train_onehot_converted = y.astype(int)

# Save the converted DataFrame back to a file
converted_file_path = "./data/yTrain_onehot.pkl"
y_train_onehot_converted.to_pickle(converted_file_path)

converted_file_path

'./data/yTrain_onehot.pkl'

In [17]:
type(y_train_onehot_converted)

pandas.core.frame.DataFrame

In [23]:
y_onehot1 = y_train_onehot_converted.to_numpy()

In [24]:
type(y_onehot1)

numpy.ndarray

In [26]:
import pickle

# 파일 저장 경로
file_path = r".\data\yTrain_onehot.pkl"

# 배열을 pickle 파일 형식으로 저장
with open(file_path, 'wb') as f:
    pickle.dump(y_onehot1, f)

In [5]:
import pandas as pd
# Convert xTrain to a DataFrame with generic column names
columns = [f"column_{i}" for i in range(X.shape[1])]
xTrain_df = pd.DataFrame(X, columns=columns)

# Since yTrain is a target array, it doesn't need column names for one-hot encoding
yTrain_series = pd.Series(y)

# Display the first few rows of the DataFrame to proceed with identifying the data types
xTrain_df.head(), yTrain_series.head()

(   column_0  column_1  column_2  column_3  column_4  column_5  column_6  \
 0 -0.504425 -0.205479     -1.00 -0.863014 -0.786311 -0.718310 -0.802120
 1 -0.433628  0.041096     -1.00 -0.767123 -0.712855 -0.323944 -0.568905
 2 -0.433628 -0.123288     -0.92 -0.808219 -0.732888 -0.605634 -0.660777
 3  0.168142 -0.780822      0.12 -0.863014 -0.789649 -0.549296 -0.618375
 4 -0.504425 -0.205479     -1.00 -0.863014 -0.786311 -0.718310 -0.802120

    column_7  column_8  column_9  column_10
 0  0.135095  0.212598 -0.724551  -0.692308
 1 -0.011747 -0.275591 -0.580838  -0.569231
 2  0.017621 -0.181102 -0.616766  -0.569231
 3  0.164464 -0.338583 -0.700599  -0.569231
 4  0.135095  0.212598 -0.724551  -0.692308  ,
 0    0
 1    0
 2    0
 3    1
 4    0
 dtype: int32)

In [6]:
y

array([[0.4],
       [0.4],
       [0.4],
       ...,
       [0.6],
       [0.4],
       [0.6]])

In [5]:
type(y)

numpy.ndarray

In [6]:
# Identify columns with 10 or fewer unique values
unique_counts = xTrain_df.nunique()
categorical_columns = unique_counts[unique_counts <= 10].index.tolist()

# Since the dataset is already in a numerical format, check if there are any columns identified as categorical
categorical_columns, unique_counts

([],
 column_0      96
 column_1     143
 column_2      80
 column_3      91
 column_4     153
 column_5      60
 column_6     144
 column_7     436
 column_8      89
 column_9      96
 column_10     65
 dtype: int64)

In [8]:
# Apply one-hot encoding to yTrain
yTrain_onehot = pd.get_dummies(yTrain_series)

# Save the one-hot encoded yTrain to a pickle file
yTrain_onehot_path = r"C:\Users\bluecom011\Desktop\Sesac_AI\module_2\wine_quality/yTrain_onehot.pkl"
yTrain_onehot.to_pickle(yTrain_onehot_path)

yTrain_onehot_path, yTrain_onehot.head()

('C:\\Users\\bluecom011\\Desktop\\Sesac_AI\\module_2\\wine_quality/yTrain_onehot.pkl',
        0      1
 0   True  False
 1   True  False
 2   True  False
 3  False   True
 4   True  False)