In [46]:
import re
data='''
윤경환, 성형석,
김동현, 최재권,
이재범, 주미현,
윤도하, 황지의,
이승환, 박호정,
박주형, 백혜리,
차혁주,한다연,
김동민, 이예림,
박세웅, 장유미,
우만경, 김태호,
권용희, 유해성,
최지욱, 김현우'''

data

pattern="[^ㄱ-ㅎ가-힣,]+"
data=re.sub(pattern,'',data)

data
data=data.split(',')

In [36]:
nameList=[]
nameList.append([])
nameList[-1].append('a')
nameList[-1].append('b')
nameList

nameList.append([])
nameList[-1].append('aa')
nameList[-1].append('bb')

nameList

[['a', 'b'], ['aa', 'bb']]

In [47]:
import numpy as np
data[:3], np.shape(data)

(['윤경환', '성형석', '김동현'], (24,))

In [50]:
dataList=np.reshape(data,(-1,2))

In [55]:
bun=list(range(1,len(dataList)+1)) 
bun=np.reshape(bun,(-1,1))
bun

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12]])

In [58]:
result=np.hstack((bun,dataList))
result   # 인공지능이나 머신러닝 시에는 array형식으로 바꾸어서 넣어야함

array([['1', '윤경환', '성형석'],
       ['2', '김동현', '최재권'],
       ['3', '이재범', '주미현'],
       ['4', '윤도하', '황지의'],
       ['5', '이승환', '박호정'],
       ['6', '박주형', '백혜리'],
       ['7', '차혁주', '한다연'],
       ['8', '김동민', '이예림'],
       ['9', '박세웅', '장유미'],
       ['10', '우만경', '김태호'],
       ['11', '권용희', '유해성'],
       ['12', '최지욱', '김현우']], dtype='<U11')

In [71]:
시간=[5,5,5,10,10,5,5,5,3,10,3,5]

a=np.hstack((result, np.reshape(시간,(-1,1))))
a[:,3]

array(['5', '5', '5', '10', '10', '5', '5', '5', '3', '10', '3', '5'],
      dtype='<U11')

In [75]:
import pandas as pd
df=pd.DataFrame(result,columns=['번호','조원1','조원2'])
시간=[5,5,5,10,10,5,5,5,3,10,3,5]
type(df),type(시간)
df["발표시간"] = 시간
df['발표시간'].sum(), df['발표시간'].mean()

(71, 5.916666666666667)

In [77]:
df. info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      12 non-null     object
 1   조원1     12 non-null     object
 2   조원2     12 non-null     object
 3   발표시간    12 non-null     int64
dtypes: int64(1), object(3)
memory usage: 516.0+ bytes

In [76]:
df.describe() #숫자필드만 기술통계

            발표시간
count  12.000000
mean    5.916667
std     2.574643
min     3.000000
25%     5.000000
50%     5.000000
75%     6.250000
max    10.000000

In [33]:
nameList=[]
for cnt, name in enumerate(data):
    if cnt%2 ==0:
        nameList.append([])

    nameList[-1].append(name)
nameList

[['윤경환', '성형석'],
 ['김동현', '최재권'],
 ['이재범', '주미현'],
 ['윤도하', '황지의'],
 ['이승환', '박호정'],
 ['박주형', '백혜리'],
 ['차혁주', '한다연'],
 ['김동민', '이예림'],
 ['박세웅', '장유미'],
 ['우만경', '김태호'],
 ['권용희', '유해성'],
 ['최지욱', '김현우'],
 ['']]

In [13]:
###\n 을 제거, '  ' 을 제거 /  제거: 찾는값, 바꿀값이'' 
### 한글과 쉼표를 제외한 나머지값 제거

import re
# data=re.sub('\n','',data)
# data=re.sub(' ','',data)
# data

def aa(data, reList):
    #print(reList[0])
    for x in reList[0]:
        dta=re.sub(x,'',data)
    return data
reList=['\n','']
aa(data,('\n',''))

'윤경환,성형석,김동현,최재권,이재범,주미현,윤도하,황지의,이승환,박호정,박주형,백혜리,차혁주,한다연,김동민,이예림,박세웅,장유미,우만경,김태호,권용희,유해성,최지욱,김현우,'

여기는,한글,