In [1]:
# 사이킷런은 머신러닝(일반적으로 정형데이터분석)에 특화모듈
# 하지만 딥러닝에서도 훈련,테스트 데이터 나누기, 결과에 대한 평가등은 사이킷런 모듈을 사용함
#사이킷런은 콘다는 scikit-learn,파이썬은 sklearn
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\bluecom011\miniconda3\envs\openai\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\bluecom011\miniconda3\envs\openai\lib\site-packages (from scikit-learn) (1.26.2)
Requirement already satisfied: scipy>=1.5.0 in c:\users\bluecom011\miniconda3\envs\openai\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\bluecom011\miniconda3\envs\openai\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\bluecom011\miniconda3\envs\openai\lib\site-packages (from scikit-learn) (3.2.0)

In [2]:
from glob import glob

dataList = r'C:\Users\bluecom011\Desktop\3주차\01.12(데이터분석 실습)/*.xlsx'  #*./xlsx파일 다가져오기
file=glob(dataList)[3]
print(file.split('_')[1]) # _ 기준으로 스플릿(나눔)

교육.xlsx

In [5]:
#교육 = pd.read_excel(file).iloc[:,1:4] #앞순서대로 해도 같을때
#교육 = pd.read_excel(file)[['시도','구군','평균']] # 위치가 달라서 원하는 값만 뽑을때

In [6]:
from glob import glob
dataList = r'C:\Users\bluecom011\Desktop\3주차\01.12/*.xlsx'  #*./xlsx파일 다가져오기
for file in glob(dataList):
    print(file.split('_')[1].split('.')[0]) # _ 기준으로 스플릿(나눔)

In [8]:
from glob import glob
import pandas as pd
dataList = r'C:\Users\bluecom011\Desktop\3주차\01.12(데이터분석 실습)/*.xlsx'  #*./xlsx파일 다가져오기
cnt = 0

file=glob(dataList)[cnt]; cnt+=1
건강 = pd.read_excel(file).iloc[:,1:4]

file=glob(dataList)[cnt]; cnt+=1
경제= pd.read_excel(file).iloc[:,1:4]

file=glob(dataList)[cnt]; cnt+=1
관계및사회참여= pd.read_excel(file).iloc[:,1:4]

file=glob(dataList)[cnt]; cnt+=1
교육= pd.read_excel(file).iloc[:,1:4]

file=glob(dataList)[cnt]; cnt+=1
삶의만족도= pd.read_excel(file).iloc[:,1:4]

file=glob(dataList)[cnt]; cnt+=1
안전= pd.read_excel(file).iloc[:,1:4]

file=glob(dataList)[cnt]; cnt+=1
여가= pd.read_excel(file).iloc[:,1:4]

file=glob(dataList)[cnt]; cnt+=1
환경= pd.read_excel(file).iloc[:,1:4]

In [9]:
#특별이 포함된 시도 자료중에 평균값이 0.8이상 또는 0.3이하 시도필드만 보여줘
tmp= 건강[건강['시도'].str.contains('특별')]
#(tmp['평균']>0.8 | tmp['평균']<0.3)

In [10]:
건강[(건강['시도'] == '서울특별시') & (건강['구군'] == '중구') ] # 두조건 둘다 맞아야함 서울이면서 중구인곳을 봄

건강[(건강['시도'] == '서울특별시') & (건강['평균']>=0.5) ]

건강[(건강['평균']>0.8) | (건강['평균']<0.3)]['시도']  # 평균이 0.8이 넘거나 0.3 이하인 곳중에 '시도' 만 보고싶음

건강[(건강['평균']>0.8) | (건강['평균']<0.3)]['시도'].value_counts()[-5:] # 시도 기준으로 갯수 세기 상우; 5개보기[:5], 하위 5개 보기[-5:]

건강[(건강['평균']>0.8) | (건강['평균']<0.3)]['시도'].str.contains('특별')

0       True
12      True
25     False
26     False
36     False
       ...
224    False
225    False
226    False
227     True
228     True
Name: 시도, Length: 73, dtype: bool

In [13]:
### 건강자료에서 서울_ 건강.csv로 저장
# 건강_서울특별시.csv로 저장
# 건강_부산광역시.csv
#건강_경기.csv 로 저장

조건 ='서울특별시'
tmp=건강[건강['시도']==조건]
tmp
tmp.to_csv('C:/Users/bluecom011/Desktop/3주차/01.12(데이터분석 실습)/시도별/' +조건+'.csv', index=False, encoding='cp949')

In [14]:
조건리스트=건강['시도'].unique()
for 조건 in 조건리스트:
    tmp=건강[건강['시도']==조건]
    tmp.to_csv('C:/Users/bluecom011/Desktop/3주차/01.12(데이터분석 실습)/시도별/건강_' +조건+'.csv', index=False, encoding='cp949')
    print(조건, 'save완료')

서울특별시 save완료
부산광역시 save완료
대구광역시 save완료
인천광역시 save완료
광주광역시 save완료
대전광역시 save완료
울산광역시 save완료
세종특별자치시 save완료
경기도 save완료
강원도 save완료
충청북도 save완료
충청남도 save완료
전라북도 save완료
전라남도 save완료
경상북도 save완료
경상남도 save완료
제주특별자치도 save완료

In [17]:
건강['시군구']=건강['시도'] + '_' + 건강['구군']
건강.head()

result=[]
for x in 건강['평균']:
    if x>0.5:
        result.append('상')
    else:
        result.append('하')

건강['비고']=result
건강.head()

      시도   구군      평균        시군구 비고
0  서울특별시  종로구  0.9220  서울특별시_종로구  상
1  서울특별시   중구  0.6742   서울특별시_중구  상
2  서울특별시  용산구  0.5898  서울특별시_용산구  상
3  서울특별시  성동구  0.4794  서울특별시_성동구  하
4  서울특별시  광진구  0.6373  서울특별시_광진구  상

In [19]:
#람다식으로 변환
건강['비고'] = 건강['평균'].apply(lambda x: '상' if x > 0.5 else '하')
건강.head()

      시도   구군      평균        시군구 비고
0  서울특별시  종로구  0.9220  서울특별시_종로구  상
1  서울특별시   중구  0.6742   서울특별시_중구  상
2  서울특별시  용산구  0.5898  서울특별시_용산구  상
3  서울특별시  성동구  0.4794  서울특별시_성동구  하
4  서울특별시  광진구  0.6373  서울특별시_광진구  상

In [32]:
df=건강.iloc[:,:-2].copy() #깊은 복사를 해야, 건강데이터가 변경되었을때 df데이터가 영향받지 않음, df=건강
df['비고'] =0

def aaa(row):
    
    if row >0.5:
        return'상'
    else :
        return'하'

for cnt,x in enumerate(df['평균']):
    df['비고'][cnt]=aaa(x)

df

C:\Users\bluecom011\AppData\Local\Temp\ipykernel_10080\4283854825.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['비고'][cnt]=aaa(x)
C:\Users\bluecom011\AppData\Local\Temp\ipykernel_10080\4283854825.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '상' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df['비고'][cnt]=aaa(x)

          시도    구군      평균 비고
0      서울특별시   종로구  0.9220  상
1      서울특별시    중구  0.6742  상
2      서울특별시   용산구  0.5898  상
3      서울특별시   성동구  0.4794  하
4      서울특별시   광진구  0.6373  상
..       ...   ...     ... ..
224     경상남도   함양군  0.2036  하
225     경상남도   거창군  0.2150  하
226     경상남도   합천군  0.2128  하
227  제주특별자치도   제주시  0.2537  하
228  제주특별자치도  서귀포시  0.2537  하

[229 rows x 4 columns]